* {
    margin: 0;
    padding: 0;
}

html {
    background-color: goldenrod;
}
    
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 100px, 1fr);
    grid-auto-flow: column;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 10fr 3fr;
    justify-items: center;
}
main > p {
border: 5px solid black;
    height: 25vw;
    margin: 1cm;
    width: 250px;
    height: 400px;
    align-content: center;
    
}
.post {
    width: 25vw;
    margin: 1cm;
    font-size: 1.6em;
    padding: 10%;
}
img {
    width: 250px;
    height: 400px;
    margin: 1cm;
    border: 5px solid black;
}